{{define "content"}}
{{template "postList" .}}
{{end}}

{{define "postList"}}
{{range .Data.Children}}
<div class="post">
    <h2>{{.Data.Title}}</h2>
    <p>
        r/{{.Data.Subreddit}} — u/{{.Data.Author}} — <time class="timeago" data-ts="{{.Data.CreatedUTC}}"></time>
    </p>

    {{with .Data.RenderedSelftext}}
        <p>{{.}}</p>
    {{end}}

    <a href="/post/{{.Data.ID}}">view comments</a>
</div>
{{end}}

{{if .Data.After}}
<button style="margin-top: 10px;" hx-get="/home?after={{.Data.After}}" hx-target="this" hx-swap="outerHTML">
    Load more
</button>
{{end}}
{{end}}
